@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.center {
    margin: auto;
    width: 35%;
    padding: 30px;
    box-shadow: 2px;
    margin-top: 12%;

    /* box-shadow: 1px 1px 3px 3px rgb(222, 222, 222); */
    box-shadow: 0 0 50px rgb(127, 127, 127);
    border-radius: 10px;
}

.login-btn {
    margin: auto;
    text-align: center;
}

.full-bg {
    /* background-image: url("../Background/2106.q702.007.S.m005.c10.babysitter\ illustration.jpg"); */
    background-size: cover;

}

.full-bg::after {
    content: "";
    background: url("../Background/2106.q702.007.S.m005.c10.babysitter\ illustration.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.errorMessage {
    margin-top: 2px;
    text-align: center;
    color: red;
    visibility: hidden;
}
.tagline{
    position: fixed;
    top: 15%;
    left: 41%;
    color: rgb(52 211 153);
}